@font-face {
    font-family: 'def';
    /* src: url(../fonts/Trajan\ Pro.ttf); */
    src: url(../fonts/Reaver-SemiBold.woff);
    font-weight: 100;
}
@font-face {
    font-family: 'bold';
    src: url(../fonts/TrajanPro-Bold.otf);
}
@font-face {
    font-family: 'reg';
    src: url(../fonts/TrajanPro-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'def';
    list-style: none;
    color: white;
}
body {
    background: #000;
}
.mainHeader {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.between_flex {
    display: flex;
    align-items: center;
}
.nav {
    height: 90px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}
.cancelLink {
    text-decoration: none;

}
.nav-content {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.nav-left {
    max-width: 600px;
    width: 80%;
}
.logo-contianer {
    display: flex;
    align-items: center;
}
.logo {
    height: 50px;
    /* filter: contrast(0%); */
}
.logo-title {
    font-size: 26px;
    margin-left: 15px;
    color: rgb(223, 223, 223);
    /* -webkit-text-stroke: 1px white; */
    text-transform: uppercase;
    letter-spacing: 3px;
}
.ul-a {
    margin: 0 55px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(223, 223, 223);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
}
.ul-a:hover {
    color: rgb(226, 80, 80);
    text-shadow: 0 0 5px rgb(226, 80, 80);
}
.banner {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}
.banner-transition {
    box-shadow: 0 0 30px 25px rgb(0, 0, 0);
    background: #000;
    z-index: 1;
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}
.bannerTitle-block {
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    opacity: 0;
    justify-content: center;
    padding-left: 10%;
    top: 0;
    left: 0;
    flex-direction: column;
}
.bannerTitle-p {
    color: rgb(193, 193, 193);
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.bannerTitle-h1 {
    letter-spacing: 2px;
    /* font-size: 42px; */
    font-size: 3vw;
    text-transform: uppercase;
}
.caps {
    text-transform: uppercase;
}
.navActive {
    color: rgb(226, 80, 80) !important;
    text-shadow: 0 0 5px rgb(226, 80, 80);
}

/* --------------------------- */

.smallHeader {
    height: 65vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 100px;
}
.alertBlock {
    margin: 0 auto;
    /* border: 1px dashed white; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.heroBlock {
    position: relative;
    width: 15%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}
.heroBlock img{
    display: block;
    object-fit: cover;
    object-position: 70% center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}
.heroBlock h3{
    font-size: 2vw;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
    user-select: none;
}
.heroBlock:hover {
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
}
.heroBlock:hover h3{
    opacity: 1;
}
.search-container {
    display: flex;
    justify-content: center;
}
.search-block {
    max-width: 400px;
    width: 90%;
    border: 3px solid #525252;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 50px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-icon {
    height: 25px;
}
.search-input {
    background: none;
    color: #b4b4b4;
    font-size: 22px;
    border: none;
    width: max-content;
    outline: none;
    width: 100%;
    margin-left: 10px;
}
.allah {
    padding-bottom: 50px;
}
/* ------------------- */

.heroDetailBody {
    height: 100vh;
    background: url(../media/greyfade.jpg);
    background-size: cover;
    overflow: hidden;
}
.heroStat {
    position: relative;
}
.heroAv {
    position: absolute;
    /* bottom: -70%;
    right: -10vw; */
    right: 0;
    bottom: 0;
    height: 80%;
    z-index: 1;
    opacity: 0.6;
}
.herstat_main {
    display: flex;
    /* align-items: center; */
    margin-left: 10vw;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    z-index: 9999;
    position: relative;
}
.herstat_main img{
    width: 30px;
}
.herstat_main h3{
    font-size: 1.5vw;
    margin-bottom: 2px;
}
.name {
    font-size: 5vw;
}
.ats {
    margin-bottom: 20px !important;
}
.atributes-block {
    display: flex;
    margin: 5px 0;
    align-items: center;
}
.atributes-block h3{
    margin-left: 5px;
    font-size: 16px;
}

@media (max-width: 740px) {
    .bannerTitle-h1 {
        font-size: 4vw;
    }
    .name {
        font-size: 8vw;
    }
    .herstat_main h3 {
        font-size: 3vw;
    }
    .heroAv {
        height: 60%;
    }
}

@media (max-width: 600px) {
    .logo-title {
        display: none;
    }
    .ul-a {
        font-size: 18px;
        margin: 0 40px;
    }
}